<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Carousel</title>
</head>
<body>
    <div id="app">
        <button @click="change(show-1)">Prev</button>
        <button @click="change(show+1)">Next</button>
        <button v-for="(num,index) of total" @click="change(index)">{{ num }}</button>
        <div class="container">
            <div v-html="showImage">
                {{ images[show] }}
            </div>
        </div>
        <div class="container">
            <div v-for="item of images">
                <img :src="item.src">
            </div>
        </div>
    </div>
    <script src="scripts/vue.js"></script>
    <script>
        let data = {
            show:0,
            images:[
                { src:'./images/sc/1.jpg' },
                { src:'./images/sc/2.jpg' },
                { src:'./images/sc/3.jpg' },
                { src:'./images/sc/4.jpg' },
                { src:'./images/sc/5.jpg' }
            ]
        }
        let vm = new Vue({
            el:'#app',
            data:data,
            computed:{
                showImage(){
                    return `<img src="${this.images[this.show].src}">`
                },
                total(){
                    return this.images.length
                }
            },
            methods:{
                change(index){
                    if(index<0){
                        this.show = this.total-1
                    }else if(index>this.total-1){
                        this.show = 0
                    }else{
                        this.show = index
                    }
                }
            }
        })
    </script>
</body>
</html>