<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <style>
        .todo > .done{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model.trim="input"><button @click="add">Add</button>
        <br>
        <button @click="filter='all'">All</button>
        <button @click="filter='active'">Active</button>
        <button @click="filter='done'">Done</button>
        <div class="todo" v-for="item of filterTodos">
            <div class="edit" v-if="editTodo && editTodo.id === item.id">
                <input type="text" v-model="editTodo.content" v-focus>
                <button @click="editDone">OK</button>
                <button @click="editCancel">Cancel</button>
            </div>
            <div class="show" :class="{done:item.done}" v-else>
                <input type="checkbox" v-model.trim="item.done">
                <span @dblclick="edit(item.id)">{{ item.content }}</span>
                <button @click="remove(item.id)">Delete</button>
            </div>
        </div>
    </div>
    <script src="scripts/vue.js"></script>
    <script>
        let data = {
            filter:'all',
            todos:[
                { id:1, content:'test1', done:false},
                { id:2, content:'test2', done:true},
                { id:3, content:'test3', done:false},
            ],
            input:'',
            editTodo:null
        }
        Vue.directive('focus',{
            inserted(el){
                el.focus()
            }
        })
        let vm = new Vue({
            el:'#app',
            data,
            computed:{
                filterTodos(){
                    switch(this.filter){
                        case 'active':
                        case 'done':
                            let status = this.filter === 'done'
                            return this.todos.filter((item)=>{
                                return item.done === status
                            })
                        default:
                            return this.todos
                    }
                },
                editTarget(){
                    let index = this.findIndexById(this.editTodo.id)
                    return this.editTodo && index !== -1 ? this.todos[index] : null
                }
            },
            methods:{
                add(){
                    this.todos.push({
                        id:new Date().getTime(),
                        content:this.input,
                        done:false
                    })
                    this.input = ''
                },
                remove(id){
                    let index = this.findIndexById(id)
                    if(index > -1) this.todos.splice(index,1)
                },
                findIndexById(id){
                    return this.todos.findIndex((item)=>{
                        return item.id === id
                    })
                },
                edit(id){
                    this.editTodo = {
                        id,
                        content:''
                    }
                    this.editTodo.content = this.editTarget.content
                },
                editDone(){
                    this.editTarget.content = this.editTodo.content
                    this.editCancel()
                },
                editCancel(){
                    this.editTodo = null
                },
            }
        })   
    </script>
</body>
</html>